{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                {% else %}
                    <img src="{% static 'images/no_image.png' %}" alt="No Image Available" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1>{{ product.name }}</h1>
                {% if product.is_on_sale %}
                    <h2 class="text-muted"><del>${{ product.price }}</del></h2>
                    <h2 class="text-danger">${{ product.discounted_price }}</h2>
                {% else %}
                    <h2>${{ product.price }}</h2>
                {% endif %}
                <p class="text-muted">Category: {{ product.category }}</p>
                <p>{{ product.description|linebreaks }}</p>
                <form action="{% url 'shop:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Add to cart" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

