:root {
  --first-font: "Poppins", sans-serif;
  --body-text-color: #777777;
  --body-bg-color: #ffffff;
  --black: #111111;
  --white: #ffffff;
  --h1: normal 700 92px/1.1 var(--first-font);
  --h2: normal 500 40px/1.2 var(--first-font);
  --h3: normal 500 30px/1.2 var(--first-font);
  --h4: normal 500 26px/1.2 var(--first-font);
  --h5: normal 500 22px/1.2 var(--first-font);
  --h6: normal 500 18px/1.2 var(--first-font);
  --common-text: normal 400 16px/1.4 var(--first-font);
}

body {
  font: var(--common-text);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: var(--body-bg-color);
  color: var(--body-text-color);
}
  

p,
li,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font: var(--common-text);
  text-transform: capitalize;
}
h1,
.h1 {
    font: var(--h1);
}

h2,
.h2 {
    font: var(--h2);
}

h3,
.h3 {
    font: var(--h3);
}

h4,
.h4 {
    font: var(--h4);
}

h5,
.h5 {
    font: var(--h5);
}

h6,
.h6 {
    font: var(--h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--black);
    text-transform: capitalize;
}

  /* Add more styles as needed */
  
  /* common-css-start */
  .img-wrapper,
.img-ratio {
    position: relative;
    width: 100%;
    display: block;
    padding-top: 100%;
}

.img-wrapper img,
.img-wrapper video,
.img-wrapper iframe,
.img-ratio img,
.img-ratio video,
.img-ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.price ins {
  font-size: 20px;
  color: var(--price-color);
  font-weight: 600;
}




/* product-page-css */
.custom-list-group .list-group-item.active {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-list-group .list-group-item.active a {
  color: white;
}

.custom-list-group .list-group-item:not(.active):hover {
  background-color: #f8f9fa;
}
.category-sec .card-body h3 {
  font: var(--h5);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-transform: capitalize;
}